blog {

  .scroll-content{
    overflow: hidden;
  }
  .toolbar {
    box-shadow: none!important;
    .toolbar-background {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
  .dark {
    background: linear-gradient(to left, color($colors, secondary) 3%, color($colors, secondary) 6%, color($colors, secondary) 8%, color($colors, primary) 93%, color($colors, primary) 83%);
    .toolbar {
      box-shadow: -5px 12px 65px -9px color($colors, stable)!important;
    }
  }
  .blog-card {
    position: fixed;
    top: 0;
    width: 100%;
    &.no-image {
      .content {
        padding: 55px 20px 20px;
      }
    }
    ion-slides {
      ion-slide {
        height: 300px;
        background-size: cover;
        border-bottom: 2px solid color($colors, primary);
      }
    }
    .blog-type {
      position: absolute;
      top: 283px;
      padding: 6px 24px;
      left: 10px;
      z-index: 999;
      border-radius: 22px;
      color: color($colors, light);
    }
    .content {
      height:80vw;
      overflow-y: scroll;
      padding: 20px 20px 20px;
      h2 {
        font-size: 2rem;
      }
      p {
        text-align: justify;
      }
    }
    ion-row {
      padding: 0px 20px 10px;
      ion-col {
        padding: 0;
        justify-content: center;
        align-self: center;
        &.date {
          font-size: 1.3rem;
          color: color($colors, default);
        }
        span {
          padding: 6px;
          color: color($colors, default);
          ion-icon {
            color: color($colors, primary);
            padding-right: 3px;
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}
