add-blog {
  .scroll-content {
    overflow-y: hidden;
  }
  .top {
    background: color($colors, primary);
    padding: 25px 20px 15px;
    .close {
      ion-icon {
        font-size: 2.8rem;
        color: color($colors, light);
      }
      .profile {
        display: flex;
        flex-direction: row;
        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }
        span {
          align-self: center;
          margin-left: 8px;
          font-size: 1.8rem;
          color: color($colors, light);
          overflow: hidden;
          white-space: nowrap;
        }
      }
      ion-col:last-of-type {
        ion-icon {
          font-size: 3rem;
        }
      }
    }
    .content {
      margin-top: 0px;
      ion-item {
        background-color: transparent;
        padding-left: 0px;
        .item-inner {
          padding-right: 8px;
          border-bottom: 1px solid color($colors, light);
          ion-label[floating] {
            transform: translate3d(10px, 29px, 0)!important;
            color: color($colors, light);
            font-weight: 300!important;
            ion-icon {
              margin-right: 10px;
              font-size: 2.4rem;
            }
          }
          ion-textarea {
            font-size: 1.4rem;
            font-weight: 300!important;
            color: color($colors, light);
          }
        }
        &.input-has-focus,
        &.input-has-value {
          ion-label[floating] {
            transform: translate3d(0, 0, 0) scale(0.9)!important;
            color: color($colors, light);
          }
        }
      }
    }
  }
  .image {
    padding: 20px 25px 25px;
    ion-slides {
      margin-top: 20px;
      height: 150px;
      ion-slide {
        width: 203px!important;
        margin-right: 10px;
        border-radius: 6px;
        background-size: 203px 200px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .blog {
    padding: 0px 25px 25px;
    ion-item {
      padding-left: 0px;
      ion-label[floating] {
        font-weight: 300!important;
      }
      ion-textarea {
        font-size: 1.3rem;
        font-weight: 300!important;
        min-height: 100px;
      }
    }
    .blog-type {
      p {
        margin:10px 0 5px;
      }
      div {
        display: inline-block;
        background: color($colors, secondary);
        color: lighten(color($colors, light), 20);
        padding: 1px 6px;
        margin: 0 5px;
        border-radius: 16px;
        width: 80px;
        text-align: center;
        &.active {
          border: 2px solid color($colors, primary);
          padding: 1px 4px;
        }
      }
    }
  }
  .floating {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 10px 30px;
    z-index: 99;
    .button {
      border-radius: 44px!important;
    }
  }
}
